<template id="template_markets">
    <div class="markets template_content">
        <div class="row">
            <table class="markets table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">名 称</th>
                        <th scope="col">目 录</th>
                        <th scope="col">主 页</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <table class="accounts table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">登录名</th>
                        <th scope="col">名 称</th>
                        <th scope="col">手 机</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</template>