.markets table.markets {
    width: 900px;
}
.markets table.accounts {
    width: 430px;
    margin-left:10px;
}

table.markets tbody tr.selected{
    background-color: lightgray !important;
}

table.markets tbody td:first-child{
    width: 180px;
}
table.markets tbody td:nth-child(2){
    min-width: 200px;
}
table.markets tbody td:nth-child(3){
    min-width: 300px;
}

table.markets tbody td:nth-child(4){
    width: 100px;
}

table.accounts tbody tr.disabled{
    background-color: gray;
    color:white;
}

div.markets div.row{
    padding-left:50px;
    padding-right:50px;
}

div.markets button.remove_account{
    padding: 0px;
    height: 26px;
    width: 50px;
    margin-left: 5px;
}