<template id="template_attributes">
    <div class="attributes template_content">
        <div class="form-group general_info">
            <h5>一般信息</h5>
            <hr>
            <ul class="list-group mb-3">
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">产 品: </span><span class="name"></span>
                    <span class="attr_name">本地目录: </span><span class="folder">E:\Temp\假睫毛</span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">阿里类目: </span><span><input type="text" class="alibaba_category"></span>
                </li>
            </ul>
        </div>

        <div class="form-group basic_info">
            <h5>基本信息</h5>
            <hr>
            <ul class="list-group mb-3">
                <li class="list-group-item list-group-item-light special">
                    <span class="attr_name">产 品: </span>
                    <span>
                        <input type="text" class="product_name">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light special keywords">
                    <span class="attr_name">关键字: </span>
                    <span>
                        <input type="text" class="keyword_1">
                        <input type="text" class="keyword_2">
                        <input type="text" class="keyword_3">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light special category">
                    <span class="attr_name">产品分组: </span>
                    <span>
                        <input type="text" class="product_category" disabled>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">型 号: </span>
                    <span>
                        <input type="text" class="product_type">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">品 牌: </span>
                    <span>
                        <input type="text" class="product_brand">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">原产地: </span>
                    <span>
                        <input type="text" class="land" value="China (Mainland)">
                        <input type="text" class="province" placeholder="province">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">材 质: </span>
                    <span>
                        <input type="text" class="product_material">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">工艺类型: </span>
                    <span>
                        <input type="text" class="production_method">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">自定义属性: 1.</span>
                    <span>
                        <input type="text" class="custom_attr_0_name">
                        <input type="text" class="custom_attr_0_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">2.</span>
                    <span>
                        <input type="text" class="custom_attr_1_name">
                        <input type="text" class="custom_attr_1_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">3.</span>
                    <span>
                        <input type="text" class="custom_attr_2_name">
                        <input type="text" class="custom_attr_2_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">4.</span>
                    <span>
                        <input type="text" class="custom_attr_3_name">
                        <input type="text" class="custom_attr_3_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">5.</span>
                    <span>
                        <input type="text" class="custom_attr_4_name">
                        <input type="text" class="custom_attr_4_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">6.</span>
                    <span>
                        <input type="text" class="custom_attr_5_name">
                        <input type="text" class="custom_attr_5_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">7.</span>
                    <span>
                        <input type="text" class="custom_attr_6_name">
                        <input type="text" class="custom_attr_6_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">8.</span>
                    <span>
                        <input type="text" class="custom_attr_7_name">
                        <input type="text" class="custom_attr_7_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">9.</span>
                    <span>
                        <input type="text" class="custom_attr_8_name">
                        <input type="text" class="custom_attr_8_value">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light custom_attrs">
                    <span class="attr_name">10.</span>
                    <span>
                        <input type="text" class="custom_attr_9_name">
                        <input type="text" class="custom_attr_9_value">
                    </span>
                </li>
            </ul>
        </div>

        <div class="form-group trade_info">
            <h5>交易信息</h5>
            <hr>
            <ul class="list-group mb-3">
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">价格设置: </span>
                    <span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input tiered_pricing_switcher" type="radio" name="inlineRadioOptions">
                            <label class="form-check-label" for="tiered_pricing_switcher">根据数量设置FOB阶梯价</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input range_pricing_switcher" type="radio" name="inlineRadioOptions">
                            <label class="form-check-label" for="range_pricing_switcher">单一FOB区间价格</label>
                        </div>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">货 币: </span>
                    <span>
                        <input type="text" class="currency">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">计量单位: </span>
                    <span>
                        <input type="text" class="sales_unit">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light tiered_pricing">
                    <span class="attr_name">最小起订量: 1.</span>
                    <span>
                        <input type="text" class="tp_volume_1" placeholder="最小数量" style="text-align:right;">
                        <span></span>
                        <input type="text" class="tp_price_1" placeholder="对应该数量的价格" style="text-align:right;">
                        <span>$</span>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light tiered_pricing">
                    <span class="attr_name">2.</span>
                    <span>
                        <input type="text" class="tp_volume_2" placeholder="最小数量" style="text-align:right;">
                        <span></span>
                        <input type="text" class="tp_price_2" placeholder="对应该数量的价格" style="text-align:right;">
                        <span>$</span>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light tiered_pricing">
                    <span class="attr_name">3.</span>
                    <span>
                        <input type="text" class="tp_volume_3" placeholder="最小数量" style="text-align:right;">
                        <span></span>
                        <input type="text" class="tp_price_3" placeholder="对应该数量的价格" style="text-align:right;">
                        <span>$</span>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light tiered_pricing">
                    <span class="attr_name">4.</span>
                    <span>
                        <input type="text" class="tp_volume_4" placeholder="最小数量" style="text-align:right;">
                        <span></span>
                        <input type="text" class="tp_price_4" placeholder="对应该数量的价格" style="text-align:right;">
                        <span>$</span>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light range_pricing" style="display: none;">
                    <span class="attr_name">FOB价格: </span>
                    <span>
                        <span></span>
                        <input type="text" class="rp_price_min" placeholder="min. price" style="text-align:right;">
                        <span> - </span>
                        <input type="text" class="rp_price_max" placeholder="max. price" style="text-align:right;">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light range_pricing" style="display: none;">
                    <span class="attr_name">最小起订量: </span>
                    <span>
                        <input type="text" class="moq" placeholder="100" style="text-align:right;">
                        <span></span>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light range_pricing" style="display: none;">
                    <span class="attr_name">补充信息: </span>
                    <span>
                        <input type="text" class="add_tra_inf">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light payment_methods">
                    <span class="attr_name">支付方式: </span>
                    <span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pm_LC" type="checkbox" value="L/C">
                            <label class="form-check-label" for="pm_LC">L&frasl;C</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pm_DA" type="checkbox" value="D/A">
                            <label class="form-check-label" for="pm_DA">D&frasl;A</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pm_DP" type="checkbox" value="D/P">
                            <label class="form-check-label" for="pm_DP">D&frasl;P</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pm_TT" type="checkbox" value="T/T">
                            <label class="form-check-label" for="pm_TT">T&frasl;T</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pm_WU" type="checkbox" value="Western Union">
                            <label class="form-check-label" for="pm_WU">Western Union</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pm_MG" type="checkbox" value="MoneyGram">
                            <label class="form-check-label" for="pm_MG">MoneyGram</label>
                        </div>
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name"></span>
                    <span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input pm_other" type="checkbox" value="other" checked>
                            <label class="form-check-label" for="pm_other">Other:&nbsp;</label>
                            <input type="text" value="Paypal">
                        </div>
                    </span>
                </li>
            </ul>
        </div>

        <div class="form-group delivery_info">
            <h5>物流信息</h5>
            <hr>
            <ul class="list-group mb-3">
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">发货时间: </span>
                    <span>
                        <input type="text" value="Shipped in 7 days after payment" class="delivery_time">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">港 口: </span>
                    <span>
                        <input type="text" value="Qingdao" class="port">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light supply_ability">
                    <span class="attr_name">供货能力: </span>
                    <span>
                        <input type="text" class="sa_volume">
                        <input type="text" class="sa_unit">
                        <span>&nbsp;per&nbsp;</span>
                        <input type="text" class="sa_time">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">补充信息: </span>
                    <span>
                        <input type="text" class="add_del_inf">
                    </span>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name" style="vertical-align: top;">常规包装: </span>
                    <textarea class="packaging"></textarea>
                </li>
            </ul>
        </div>
    </div>
</template>