<template id="template_market_others">
    <div class="template_content market_others">
        <div class="form-group login_setup">
            <h5>阿里巴巴国际站</h5>
            <hr>
            <ul class="list-group mb-3">
                <li class="list-group-item list-group-item-light">
                    <form>
                        <span class="attr_name">登录名: </span>
                        <span>
                            <input type="text" class="login_id">
                        </span><!-- 
                    </li>
                    <li class="list-group-item list-group-item-light"> -->
                        <span class="attr_name">密 码: </span>
                        <span>
                            <input type="password" class="login_pwd">
                        </span>
                        <span class="buttons">
                            <button type="button" class="btn btn-sm btn-primary login">登 录</button>
                        </span>
                    </form>
                </li>
                <li class="list-group-item list-group-item-light">
                    <span class="attr_name">全部产品列表： 前</span>
                    <span>
                        <input type="text" class="page_quantity" style="width: 40px; text-align: center;" value="3">
                    </span>
                    <span>页，</span>
                    <span class="buttons">
                        <button type="button" class="btn btn-sm btn-primary update_new_posted_products_info">更新上传产品信息</button>
                        <button type="button" class="btn btn-sm btn-primary update_all_posted_products_info">更新全部产品信息</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</template>