div.template>div{
    position: relative;
}
div.template ul{
    font-size: 14px;
}
div.template li.list-group-item{
    border:none;
    padding: 3px 5px;
}

div.template input{
    margin-right:10px;
    border: none;
    border-bottom: solid 1px gray;
}

div.template .attr_name{
    display: inline-block;
    width: 115px;
    text-align: right;
    padding-right: 15px;
}

div.template .product_pics_setup .input_name{
    display: inline-block;
    width: 100px;
}

div.template .pcode{
    width: 20px;
    margin-right: 20px;
    text-align: center !important;
}

div.template .pscode{
    width: 20px;
    text-align: center !important;
}

div.template .product_detail_setup select{
    width: 90px;
}

div.template .product_detail_setup .input_name{
    display: inline;
    padding-right: 5px;
}

div.template textarea.template{
    font-size: 10px;
    height: 300px;
    width: 664px;
}

div.template input.css_selector{
    width: 194px;
}

div.template .login_setup .buttons{
    margin-left: 60px;
}
div.template .login_setup input{
    width: 280px;
}