div.task>.input-group{
    max-width: 1150px;
    min-width: 1100px;
}

#task_interval{
    max-width: 60px;
    min-width: 55px;
    text-align: center;
}

#task_start_date{
    max-width: 120px;
    min-width: 110px;
    text-align: center;
}
#task_start_time{
    max-width: 75px;
    min-width: 68px;
    text-align: center;
}

#task_end_date{
    max-width: 120px;
    min-width: 110px;
    text-align: center;
}

#task_end_time{
    max-width: 75px;
    min-width: 68px;
    text-align: center;
}

#task_type{
    max-width: 82px;
    min-width: 80px;
}

div.task table{
    max-width: 1150px;
    min-width: 1100px;
    z-index: 10;
    position: relative;
}
div.task table.active_tasks tbody{
    position: relative;
    left: 0px;
    right: 0px;
}

div.task table.active_tasks tr.paused{
    background-color: lightgray;
}
div.task table.active_tasks tr.running{
    background: rgba(0,0,0,0.0);
}
div.task table.active_tasks tbody .progress{
    position: absolute;
    height: 36px;
    top: 34px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

div.task table.active_tasks tbody div.progress-bar{
    background-color: lightgreen
}
div.task table.active_tasks th{
    text-align: center;
}
div.task table.active_tasks td{
    vertical-align: middle;
}
div.task table.active_tasks th:first-child,
div.task table.active_tasks td:first-child{
    width: 50px;
    text-align: center;
}
div.task table.active_tasks th:nth-child(2),
div.task table.active_tasks td:nth-child(2){
    width: 60px;
    text-align: center;
}
div.task table.active_tasks th:nth-child(3),
div.task table.active_tasks td:nth-child(3){
    width: 180px;
    text-align: center;
}
div.task table.active_tasks th:nth-child(4),
div.task table.active_tasks td:nth-child(4){
    width: 180px;
    text-align: center;
}
div.task table.active_tasks th:nth-child(5),
div.task table.active_tasks td:nth-child(5){
    width: 150px;
    text-align: center;
}

div.task table.active_tasks th:nth-child(6),
div.task table.active_tasks td:nth-child(6){
    width: 78px;
    text-align: center;
}
div.task table.active_tasks th:nth-child(7),
div.task table.active_tasks td:nth-child(7){
    width: 180px;
    text-align: center;
}
div.task table.active_tasks th:nth-child(8),
div.task table.active_tasks td:nth-child(8){
    text-align: right;
}
div.task table.active_tasks td button,
div.task table.tasks_overview td button{
    padding: 0px;
    height: 26px;
    width: 50px;
    margin-left:5px;
}

div.task label.active{
    background-color: #007bff !important;
}