<template id="template_chart">
    <div class="chart template_content">
        <div class="svg_container">图表</div>
        <div class="items row no-gutters">
            <div class="keywords">
                <table class="table table-sm table-striped table-hover keywords">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">符 号</th>
                            <th scope="col" descending>次 数</th>
                            <th scope="col">参与度</th>
                            <th class="name" scope="col">关键字 (<span></span>)</th>
                            <th scope="col">均价4</th>
                            <th scope="col">均价5</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="sponsors">
                <table class="table table-sm table-striped table-hover sponsors">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">符 号</th>
                            <th scope="col" descending>次 数</th>
                            <th scope="col">关键字</th>
                            <th class="name" scope="col">供应商 (<span></span>)</th>
                            <th scope="col">年</th>
                            <th scope="col" descending>笔数</th>
                            <th scope="col" descending>成交额</th>
                            <th scope="col" descending>回复率</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</template>