<template id="template_keywords">
    <div class="keywords template_content">
        <table class="table table-sm table-striped table-hover ml-auto mr-auto keywords">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">序列</th>
                    <th scope="col">记录</th>
                    <th scope="col">监控</th>
                    <th scope="col">关键字</th>
                    <th scope="col">状态</th>
                    <th scope="col">分组</th>
                    <th scope="col">竞价</th>
                    <th scope="col">同行均价</th>
                    <th scope="col">推广评分</th>
                    <th scope="col">热度</th>
                    <th scope="col">竞争度</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</template>