<template id="template_visitors">
    <div class="visitors template_content">
        <div class="input-group region_selection ml-auto mr-auto mb-3">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="All">全部
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="China">中国
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="United States">美国
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="United Kingdom">英国
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="Australia">澳大利亚
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="Canada">加拿大
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="Mexico">墨西哥
                </label>
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off" data-region="Peru">秘鲁
                </label>
            </div>
        </div>
        <div class="svg_container">图表</div>
        <table class="table table-sm table-striped table-hover ml-auto mr-auto visitor_list">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">地 区</th>
                    <th scope="col">浏 览</th>
                    <th scope="col">停 留</th>
                    <th scope="col">关键词</th>
                    <th scope="col">旺铺行为</th>
                    <th scope="col">网站行为</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</template>