<html>
    <body>
        <div>Dear $buyer,</div>
        <p></p>
        <p>Here is the link to our Eyelash Catalog: <a href="$catalog_href">2018 Glitter Eyelash Product Catalog</a>.</p>
        <p>You can also download it and read offline. The button to download is located at the top right corner, after you open it in a web browser.</p>
        <p>If any lashes interest you, please inform me about the product codes. I'll send you more clear photos and videos.</p>
        <p></p>
        <p>Any advice would be greatly appreciated!</p>
        <p></p>
        <p>Best Regards</p>
        <p>$sender</p>
        <div>Homepage: $homepage</div>
        <div>WhatsApp/Skype: +86 17685593100</div>
        <div>Email: $email</div>
    </body>
</html>