<p>Hello $buyer,</p>
<br>
$greetings
<p>I have sent our eyelash catalog to your email box: $email. <span class="attach">I have also attached a copy to the bottom of this message. </span>Please check that.</p>
<br>
<p>If any lashes interest you, please inform me about the product codes. I'll send you more clear photos and videos.</p>
<br>
<p>Other questions will be replied as soon as possible when I see it.</p>
<br>
<p>Looking forward to your feedback.</p>
<br>
<p>Best regards</p>
<p>$sender</p>
<br>

<p style="text-align: center;">&lt;&lt; This message is from virtual customer assistant &gt;&gt;</p>