$salutation, 

    pleased to hear from you. 

    At End of this message is the link to our eyelsh catalog. It is a PDF file on Google Drive.
    You can also download it and read offline. The download button is located at the top right corner, when you open it in a browser.

    Please let me know the product codes, if any lashes interest you. I'll send you more clear photos and videos. 

    Other questions will be replied as soon as i see it. 

    The link to our eyelash catalog: 
    $link

Best Regards,
$sender