{% extends "framework/layout.html" %}
{% block html_head %}
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/products/index.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/parts/top_navbar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/parts/left_navbar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/markets/attributes.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/markets/template.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/markets/keywords.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/markets/pictures.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/markets/products.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/markets/preview.css') }}"> -->
{% endblock html_head %}

{% block body_bottom %}

    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/parts/attributes.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/parts/keywords.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/parts/settings.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/parts/category.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/parts/product.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/parts/main_content.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/parts/top_navbar.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/parts/left_navbar.js') }}"></script> -->

    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock body_bottom %}